/*main style sheet*/

/*font-family: 'Oswald', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;*/

@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

body{
	background-color: #006994; 
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
	font-family: 'Lobster', cursive;
}

.content {
	margin: 100px;
}

img {
    width: 100%;
    height: auto;
}

.w3-container {
	background-color: #BFD9E4;
}

.w3-button {
	background-color: #006994;
}

.buttonHolder{ 
	text-align: center;
	display: flex; 
	justify-content: center; 
}


/*Colors

Dark Blue: #064274;
Light Teal: #76B5C4;
Sky Blue: #7FCDFE;
Main Blue: #1CA1D9;
Gray: #DEF3F6;


*/

/*colors
DEEP BLUE: #006994;
BLUE GRAY: #BFD9E4;
DEEP BLUE GRAY: ;



*/