/*main style sheet*/

/*font-family: 'Oswald', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;*/

@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');


* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column-third {
    float: left;
    width: 34%;
    padding: 10px;
}

.column-twothird {
    float: left;
    width: 66%;
    padding: 10px;
}

.row {
	display: flex;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

body{
	/*background-color: #1CA1D9; */
	font-family: 'Raleway', sans-serif;
	/*animation: pulse 5s infinite;*/

	background: linear-gradient(133deg, #064274, #76b5c4, #003858, #007abf);
	background-size: 800% 800%;

	-webkit-animation: OceansBackground 21s ease infinite;
	-moz-animation: OceansBackground 21s ease infinite;
	animation: OceansBackground 21s ease infinite;
}

h1, h2, h3 {
	font-family: 'Lobster', cursive;
}

.content {
	margin: 100px;
	padding: 50px;
	background-color: #BFD9E4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.w3-button,  {
	background-color: #006994;
}

.buttonHolder{ 
	margin: 50px;
	text-align: center;
	display: flex; 
	justify-content: center; 
}

.w3-bar {
	background-color: #064274;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.w3-bar-item{
	color: white;
	text-align: center;
}
/*
.background-element {
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}*/

@-webkit-keyframes OceansBackground {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
@-moz-keyframes OceansBackground {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
@keyframes OceansBackground { 
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}



/*@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}*/

/*Colors

Dark Blue: #064274;
Light Teal: #76B5C4;
Sky Blue: #7FCDFE;
Main Blue: #1CA1D9;
Gray: #DEF3F6;


*/

/*colors
DEEP BLUE: #006994;
BLUE GRAY: #BFD9E4;
DEEP BLUE GRAY: ;



*/