/*main style sheet*/

/*font-family: 'Oswald', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;*/

@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');


* {
    box-sizing: border-box;
}

.floating-box {
    float: left;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
}

.after-box {
    clear: left;
    border: 3px solid red;      
}

body{
	/*background-color: #1CA1D9; */
	font-family: 'Raleway', sans-serif;
	/*animation: pulse 5s infinite;*/

	background: linear-gradient(133deg, #064274, #76b5c4, #003858, #007abf);
	background-size: 800% 800%;

	-webkit-animation: OceansBackground 21s ease infinite;
	-moz-animation: OceansBackground 21s ease infinite;
	animation: OceansBackground 21s ease infinite;
}

h1, h2, h3 {
	font-family: 'Lobster', cursive;
}

.content {
	margin: 50px;
	background-color: #BFD9E4;
}

img {
    width: 100%;
    height: auto;
}

.w3-button,  {
	background-color: #006994;
}

.buttonHolder{ 
	margin: 50px;
	text-align: center;
	display: flex; 
	justify-content: center; 
}

.w3-bar {
	background-color: #064274;
}
.w3-bar-item{
	color: white;
	text-align: center;
}
/*
.background-element {
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}*/

@-webkit-keyframes OceansBackground {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
@-moz-keyframes OceansBackground {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
@keyframes OceansBackground { 
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}



/*@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}*/

/*Colors

Dark Blue: #064274;
Light Teal: #76B5C4;
Sky Blue: #7FCDFE;
Main Blue: #1CA1D9;
Gray: #DEF3F6;


*/

/*colors
DEEP BLUE: #006994;
BLUE GRAY: #BFD9E4;
DEEP BLUE GRAY: ;



*/